<!--Content Section-->

<div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">


      <!--Content Left Side-->
      <div class="col-3">
          <!--User Testimonial-->
          <blockquote class="testimonial text-right bigtest">
              <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore
                  et dolore magna aliqua</q>
              <footer>— John Doe, Happy Customer</footer>
          </blockquote>
          <!-- End of Testimonial-->

      </div>
      <!--End Content Left Side-->

      <!--Content of the Right Side-->
      <div class="col-3">
          <div class="section-heading">
              <h3>BELIEVING</h3>
              <h2 class="section-title">Focusing On What Matters Most</h2>
              <p class="section-subtitle">RongRam</p>
          </div>
          <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ระบบการบริหารการจัดการโรงแรมระบบจะพัฒนาอย่าง
              ต่อเนื่อง พวกเรามองเห็นเครื่องมือที่จะช่วยผู้ประกอบการธุรกิจ
              โรงแรมทำงานและบริหารงานได้อย่างง่ายดายและไม่ยุ่งยาก
              และช่วยเสริมการตลาด ลดค่าใช้จ่ายในการบริหารด้วยข้อมูล
              &nbsp;   ที่ผ่านเครื่องมือวิเคราะห์ ทำให้ธุรกิจของคุณดียิ่งขึ้น
          </p>
          <p>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ระบบการบริหารการจัดการโรงแรมคือโปรแกรมที่สามารถ
              ช่วยให้คุณบริหารจัดการข้อมูลการเข้าพักและข้อมูลขององค์กร
              ได้อย่างมีประสิทธิภาพ สามารถทำให้คุณจัดเก็บข้อมูลลูกค้า
              ได้อย่างสะดวกและสามารถดูย้อนหลังได้ อีกทั้งยังช่วยให้คุณ
              ไม่ต้องยุ่งยากกับงานเอกสาร เพื่อให้คุณสามารถพัฒนาธุรกิจ
              หาลูกค้าหรือทำการตลาดได้อย่างมีประสิทธิภาพมากขึ้น และช่วยให้
              คุณลดความผิดพลาดในส่วนต่างๆได้อย่างดี

          </p>
          <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
          <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
              WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
          </a>
      </div>
      <!--End Content Right Side-->
      <br><br><br><br><br><br><br>

      <div class="col-3">
          <img src="../assets/images/2.jpg" alt="Dancer"/>
      </div>

  </div>



</div>
<!--End of Content Section-->
