
      <!--Banner Content-->
      <div id="banner-content" class="row clearfix">

          <div class="col-38">

              <div class="section-heading">
                <br>
                  <h1>Hotel <br> Management</h1>
                  <h2>ระบบการบริหารการจัดการโรงแรม <br><br> ระบบการบริหารจัดการภายในองค์กร <br> พร้อมทั้งจัดการการเข้าพักครบวงจร <br><br></h2>

              </div>
              <br>
              <!--Call to Action-->
              <a href="#" class="button">START CREATING TODAY</a>
              <!--End Call to Action-->

          </div>

      </div><!--End of Row-->
      <br><br><br><br><br><br>

