      <!--Introduction-->
      <section id="about" class="introduction scrollto">

        <div class="row clearfix">

            <div class="col-3">
                <div class="section-heading">
                    <h3>SUCCESS</h3>
                    <h2 class="section-title"> How We Help You To Sell Your Product </h2>
                    <p class="section-subtitle">เราจะช่วยจัดการกับการบริหารงานภายในองค์กรของคุณ
                      ง่ายขึ้น เป็นขั้นตอนและสะดวกรวดเร็วยิ่งขึ้น อีกทั้งสามารถช่วยตอบสนองตามความต้องการของลูกค้าได้อีกด้วย</p>
                </div>

            </div>

            <div class="col-2-3">

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-bed fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4> ระบบการจัดการห้องพัก </h4>
                        <p> การจองออนไลน์ทั้งหมดจะลูกซิ้งค์เข้ากับปฏิทินการเข้าพักของคุณและเป็นปัจจุบันเสมอ สามารถเพิ่ม หรือ
                            ลดจำนวนข้อมูลห้องพักได้ตลอดเวลา</p>

                    </div>
                </div>
                <!--End of Icon Block-->

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-align-left fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4> ระบบการจัดการพนักงาน </h4>
                        <p> สามารถตรวจสอบสถานะการทำงานของพนังงาน
                          รวมไปถึง การแจ้งงานให้กับพนักงานได้แบบรวดเร็ว ทำให้พนักงานสามารถทำงานได้รวดเร็ว และมีประสิทธิภาพมากขึ้น </p>
                    </div>
                </div>


                <!--End of Icon Block-->

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-tablet fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4> ระบบการจัดการผู้เข้าพัก </h4>
                        <p> ผู้เข้าพักสามารถแแจ้งความต้องการหรือปัญหาที่เกิดให้กับผู้ดูแล หรือ พนักงานผ่าน Mobile Application ได้ง่าย ๆ
                            ซึ่งช่วยให้สามารถบริหารงานได้อย่างมีประสิทธิภาพ</p>
                    </div>
                </div>
                <!--End of Icon Block-->

                <!--Icon Block-->
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.7s">
                    <!--Icon-->
                    <div class="icon">
                        <i class="fa fa-rocket fa-2x"></i>
                    </div>
                    <!--Icon Block Description-->
                    <div class="icon-block-description">
                        <h4> Web Application & Mobile Application </h4>
                        <p> Web Application ใช้สำหรับบริหารจัดการในองค์กร <br>
                            Mobile Application ใช้สำหรับการจัดการงานในองค์กร</p>
                    </div>
                </div>
                <!--End of Icon Block-->

            </div>

        </div>


    </section>
    <!--End of Introduction-->
