<!--Testimonials-->

<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

  <div class="row clearfix">

      <div class="section-heading">
          <h2 class="section-title">Developer</h2>
      </div>

      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
          <img src=" ../assets/images/user-images/1.jpg" alt="User"/>
          <q> สาขาวิศวกรรมคอมพิวเตอร์ </q>
          <q> มหาวิทยาลัยเทคโนโลยีราชมงคลศรีวิชัย สงขลา </q>
          <footer> Nada Chemreh </footer>
      </blockquote>
      <!-- End of Testimonial-->

      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
          <img src="../assets/images/user-images/2.jpg" alt="User"/>
          <q> สาขาวิศวกรรมคอมพิวเตอร์ </q>
          <q> มหาวิทยาลัยเทคโนโลยีราชมงคลศรีวิชัย สงขลา </q>
          <footer> Bunyarit Thongsuk </footer>
      </blockquote>
      <!-- End of Testimonial-->

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
              <img src="../assets/images/user-images/3.jpg" alt="User"/>
              <q> อาจารย์ที่ปรึกษา </q>
              <q> มหาวิทยาลัยเทคโนโลยีราชมงคลศรีวิชัย สงขลา </q>
              <footer> Sittichok Aunkaew </footer>
          </blockquote>
          <!-- End of Testimonial-->


  </div>

</aside>
<!--End of Testimonials-->
